.btn {
	background: #3b6589; 
	color: white;
}
.danger {
	color: red;
}
.input-group-addon {
	width: 33%;
	background: #ededed;
}
.success {
	color: green;
}
#card-background {
	background: #cccccc;
	border-radius: 10px;
}